In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report

In [2]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [3]:
connection = create_server_connection("localhost", "root", "259604")

MySQL Database connection successful

In [4]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [5]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [6]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [20]:
dadosEstudantes = []
colunas = ["Matrículas", "Status", "Estudante", "Disciplina", "Ingresso"]

In [10]:
semestres = ["2015/2", "2016/1", "2016/2", "2017/1", "2017/2", "2018/1", "2018/2", "2019/1"]

In [11]:
cursos = ["AEROESPACIAL", "AUTOMOTIVA", "ELETRÔNICA", "ENERGIA", "ENGENHARIA FGA", "SOFTWARE"]

In [21]:
q1 = """
select distinct Matriculas, Status, IDEstudante, IDDisciplina, Ingresso from(
	select distinct * from student_data.dados 
	inner join student_data.fluxos on
	student_data.dados.IDFluxo =  student_data.fluxos.Fluxo) igualarFluxo;
"""

connection = create_db_connection("localhost", "root", "259604", "student_data")
results = read_query(connection, q1)

for result in results:
  dadosEstudantes.append(result)

MySQL Database connection successful

In [22]:
df = pd.DataFrame(dadosEstudantes, columns = colunas)

df.head()

   Matrículas  Status  Estudante Disciplina Ingresso
0           1       1       5997    ENM0070   2018/1
1           1       1       5997    ENM0071   2018/1
2           1       1       5997    ENM0080   2018/1
3           1       1       5997    FGA0009   2018/1
4           1       1       5997    FGA0011   2018/1